
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
@import 'bootstrap';


$black : #000000;
$purple :#5458F7;
$gray: #9798B4;
$dark: #2C2C2C;
$white : #ffffff;
$deepDark: #272727;
$footerDark: #060740;
$lightGray:  #C4C4C4;
$background:#E5E5E5;
$input: #F9F9FB;
$title : #B4BBC6;
$border : #eff4f6;


body{
    display: flex;
    justify-content: center;
    background-color: $background;
    margin:0;
    font-family: "Nunito Sans" !important;
}
input{
    height: 52px;
    background-color: $input;
    border: none;
    width: 350px;
    padding: 0 15px;
    border-radius: 8px;
    &::placeholder{
        color: $lightGray;
        font-family: FontAwesome;
        font-size: 15px;
        font-weight: normal;
        overflow: visible;
        vertical-align: top;
        display: inline-block !important;
    }
}
#app{
    width: 100%;
}
.header{
    width: 100%;
    height: 100px;
    background-color: $white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .left-side{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex:1 0;
    }
    .right-side{
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icons{
            flex: 1 0;
            display: flex;
            justify-content: space-evenly;
            .icon{
                position: relative;
                img{
                    margin-right: 5px;
                }
                .notification{
                    width: 8px;
                    height: 8px;
                    background-color: $purple;
                    border-radius: 10px;
                    position: absolute;
                    right: 3.6px;
                    top: -1px;
                }
            }
          
        }
        .user{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 0;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            border-left: 1px $border solid;
            span{
                margin-right: 20px;
            }
            .user-icon{
                margin-right: 15px;
            }
          
        }

    }
}
.footer{
    background-color: $footerDark;
    color:$white;
    font-family: 'Roboto';
    height: 250px;
    padding: 30px 0px 30px 117px;
    @media screen and (max-width:768px) {
        height: auto;
        padding: 10px;
        text-align: center;
    }
    
    .logo{
        margin-bottom: 20px;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
        @media screen and (max-width:768px) {
            margin-top: 20px;
            margin-bottom: 10px;
         }
    }
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 18.5px;

    }
    .logo-description{
        width: 340px;
        @media screen and (max-width:768px) {
           width: auto;
        }
    }
    .icons{
      img{
        margin-right:20px;
      }
    }
}
.homepage{
    padding: 30px 0px;
    .menu{
        ul {
            list-style-type: none;
            margin: 0;
            width: 100%;
            background-color: $white;
            border-radius: 20px;
            padding: 30px 0px;
          }
          
          li{
            display: flex;
            justify-content: left;
            padding-left: 50px;
            a {
                display: block;
                color: $gray;
                text-decoration: none;
                padding: 15px 20px;
                
            }
            &:hover{
                background-color: #f3f3f6;
                opacity: 0.7;
                border-left: 10px $purple solid;
                padding-left: 40px;
                a{
                    color:$purple;
                }
            }   
            img{
                color: $gray;
            }   
          }
          .active{
            background-color: #f3f3f6;
            opacity: 0.7;
            border-left: 10px $purple solid;
            padding-left: 40px;
            a{
                color:$purple;
            }
        }
    }
    .trends{
        background-color: $white;
        border-radius: 20px;
        padding: 20px 15px 30px 15px;
        .trend-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;
            h5{
                font-size: 18px;
                font-weight: 700;
                line-height: 25px;
                margin: 0;
            }
        }
        
        .trend-image{
            text-align: center;
        }
        .trend-info{
            text-align: center;
            margin-top: 30px;
            .info-header{
                font-size: 13px;
                font-weight: 700;
                line-height: 18px;
                color: #34343f;
                opacity: 0.7;
                margin-bottom: 5px;
            }
            .info-text{
                font-size: 12px;
                line-height: 16px;
                color: #464665;
                opacity:  0.6;
            }
        }
    }
    .comments{
        background-color: $white;
        margin-top: 20px;
        border-radius: 20px;
        padding: 15px;
        h6{
            font-size: 22px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        .box{
            margin-bottom: 30px;
            .box-header{
                display: flex;
                justify-content: left;
                align-items: center;
                margin-bottom: 10px;
                .image{
                    margin-right: 10px;
                }
                .name{
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 25px;
                    margin: 0 10px 0 0;
                    width: 150px;
                }
                .time{
                    color: $title;
                    font-size: 14px;
                    font-weight: 400;
                    padding-top: 2px;
                }
            }
            .box-text{
                color: $deepDark;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }
    }
    .albums{
        .album{
            background-color: $white;
            margin-bottom: 30px;
            padding: 10px 15px;
            border-radius: 20px;
            .album-header{
                font-size: 22px;
                font-weight: 700;
                line-height: 30px;
                text-transform: capitalize;
            }
        }
    }
    
}
